body{
	font-family: "Ubuntu";
	font-size: 20px;
	background:black;
	color:white;
} 

.mainheader{
	position: fixed;
	top: 15%;
	text-align: left;
	font-size: 60px;
	color:white;
}

.mainmenu{
	position: fixed;
	top: 25%;
}

.copy{
	position: fixed;
	font-size: 70%;
	text-align: right;
	bottom: -12px;
    right: 10px;
    height: 15px;
    line-height: 100%;
}

.square {
  border: solid 2px #DED3DC;
  background-color: #DED3DC;
  width: 36px;
  height: 60px;
}

#about, #skills, #resume, #contact{
	padding: 10px;
}
#about:hover, #skills:hover, #resume:hover, #contact:hover{
	text-decoration: underline;
	color: green;
}

#aboutsection, #skillssection, #resumesection, #contactsection{
	position: fixed;
	top: 30%;
	display: none;
	margin-left: 7%;
	margin-right: 7%;
}
