html{
	height: auto;
}
main{
	align-items: center;
	text-align: center;
	background: linear-gradient(0deg,rgba(229,198,198,0.32),rgba(220,220,198,0.42)),url("/images/main-page-bg.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 12rem 0;
}

nav{
	background-color: white;
}

#about, #portfolio{
	background-color: #e29536;
}

body{
}

header {
	position: relative;
}

section {
  padding: 10rem 0;
  align-content: center;
  align-self: start;
}

footer {
	background-color: #e1e8ed;
	padding: .5rem 0;
}

.contact-img{
	width=1000%;
	padding: .5rem 0;
}