.body{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	height: 100%;
	padding-bottom: 5vh;
}

.site-page{
	min-height: 97vh;
	background: url("/images/la-jolla-swim.jpg") no-repeat center;
	background-size: cover;
}
.container{
	display:flex;
	height:100%;
}

.splash-screen h1{
	font-size: 2 rem;
}

.navbar a:hover{
	text-decoration: underline;
}

.lander-content{
	background-color: whitesmoke;
	border-radius: 10px;
	opacity: .90;
	padding-top: .5rem;
	margin-top: 50%;
}

.row{
	padding: 1rem;
}

footer{
	position: static;
	text-align: center;
	background: url("/images/la-jolla-swim.jpg") no-repeat center;
	opacity: .95;
	color:white;
	min-height: 3vh;
}
